img {
    max-height: 60vh;
}
.container {
    margin: 0px;
    padding: 0px;
}
.carousel{
    position: static;
}
#contact {
    margin-left: 30vh;
}
#headimg {
    min-width:100%;
    max-height: 30vh;
}
#projectHeadimg {
    max-height: 50vh;
    max-width: 50vh;
}
#projectHeadimg2 {
    max-height: 50vh;
    max-width: 50vh;
}
#skinnyBlurb {
    margin-bottom: 5vh;
}
#carouselExampleSlidesOnly {
    max-height: 60vh;
}